.actualite_header{
  border-top: 5px solid $contrast-blue;
}
.actualite_time  {
  color:$contrast-blue;
}

.actualite_titre {
  text-transform: uppercase;
}

.actualite_auteur::after {
  content: " | ";
}
