@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-of-type(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

/****SOUS-TITRE PRESSE****/

.presse_subtitle{

  font-size: $font-size-big;
  text-transform: uppercase;
  font-weight: $text-weight-bold;

}

.presse_titre::before{

   content: " — ";
 }

.presse_titre:first-child::before{

  content: '';
}


.presse_titre{

  font-size: $font-size-medium;
  text-transform: uppercase;
  font-weight: $text-weight-light;

}

.presse_nom{

  font-weight: $text-weight-bold;
  text-transform: uppercase;
}

.presse_bloc{

  height: auto;
  width: auto;
  padding: 10px;
  margin: auto;
}



.gridder{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size:0;
  display: inline;
}

.gridder-list, .gridder-show{
  font-weight: $text-weight-light;
}

.gridder-list::before{
  content: " — ";
}

.gridder-list{
  display: inline;
  vertical-align: top;
}
.gridder-show{
  display: block;
  float: left;
  width: 100%;
  height: 150px;
  position: relative;
  color: white;
  font-size: $font-size-base;
  background-color: $contrast-blue;
  padding: 10px;
  margin-top:10px;

}
.gridder-content{
  display: none;
}

.gridder-list{
  @include rowMachine(6,0%);
}

.btn_presse{

  position: relative;
  float: right;
  bottom: -60px;
  text-transform: uppercase;
  color: $contrast-blue;
  font-weight: $text-weight-bold;

}


/*.gridder-show:after
{
  content: " ";
  border-bottom: 11px solid $contrast-blue;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: relative;
  top: -55px;
  right: -5px;
}*/

.presse_background {
  bottom:10px;
  right:20px;
  height:45vh;
}

/* Smartphones moyen (ex: iphone)*/ /* Petite tablette (ou moyenne tablette en mode portrait), grand smartphone */
@media screen and /*(min-width: 21em) and*/ (max-width: 30em),  screen and /*(min-device-width: 21em) and*/ (max-device-width: 30em)
  /*and (min-width: 30em)*/ and (max-width: 41em), screen /*and (min-device-width: 30em)*/ and (max-device-width: 41em) {

  .presse_subtitle {
    margin-left: 13px;

  }

  }