// PREMIERE PAGE CONTACT
.formulaireContact {
  margin-top: 50px;
}

.formulaireContact h1, .formulaireContactSuite h1 {
  font-size: 70px;
  font-weight: $text-weight-bold;
  line-height: 1;
  margin-bottom: 50px;
  margin-top: 150px;

}

.formulaireContact .container::before {
  content: url("../img/vaguebleue.svg");
  display: inline-block;
  height: 100px;
  width: 200px;
  position: fixed;
  bottom: 20px;
  right: 200px;
}

.formulaireContact .formulaire_choix .column > div {
  width: 220px;
  height: 50px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 100px;
  color: $contrast-blue;
}

.formulaireContact .formulaire_choix {
  text-transform: uppercase;
  font-weight: $text-weight-bold;
  font-size: $font-size-medium;
}

.button.is-primary.is-outlined {
  border-color: $contrast-blue;
  color: $contrast-blue;

}

.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
  background-color: $contrast-blue;
  border-color: $contrast-blue;
}

.formulaire_choix > div {
  margin-right: 10px;
  margin-bottom: 15px;
}

.button.is-large {
  font-size: 1.9rem;
}

// DEUXIEME PAGE CONTACT

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: $contrast-blue;
  border: solid 2px;
}

.formulaireContactSuite .columns {
  max-width: 600px;
}

body, button, input, select, textarea {
  font-family: $font-family-sans-serif;
}

.formulairecontactsuite {
  margin-bottom: 300px;
}

.input, .textarea {
  color: $contrast-blue;
  border-color: $text-color;
}

.formulaireContactSuite .button {
  border-color: $contrast-blue;
  margin-top: 20px;
  margin-left: 478px;
  text-transform: uppercase;
  font-weight: $text-weight-bold;
}

.forms {
  max-width: 600px;
}

.input.is-medium, .textarea.is-medium {
  margin-top: 1.1rem;
}

.textarea {
  min-height: 170px;
}

/* Smartphones moyen (ex: iphone)*/
/* Petite tablette (ou moyenne tablette en mode portrait), grand smartphone */
@media screen and /*(min-width: 21em) and*/
(max-width: 30em), screen and /*(min-device-width: 21em) and*/
(max-device-width: 30em)
  /*and (min-width: 30em)*/
and (max-width: 41em), screen /*and (min-device-width: 30em)*/
and (max-device-width: 41em) {
  .formulaireContact .container:before {
    display: none;

  }
  .formulaireContact h1 {
    font-size: 40px;
    margin-left: 20px;
  }
  .formulaireContact .formulaire_choix {
    margin-left: 20px;
  }
  .formulaireContact .container:before {
    display: none;
  }
  .popup_cross{
    top:35px;
    right:40px;
  }
  .formulaireContactSuite .button {
    margin-left: 0px;
  }
  .field:not(:last-child) {
    margin-bottom: -0.75rem;
  }
  .form2{
    margin-left: 7px;
    margin-right: 7px;
  }
  .field_button {
    text-align: center;
  }
}