*,html,body {
  box-sizing: border-box;
}

body,html{
  font-family: 'Montserrat',sans-serif;
  color: $text-color;
  font-size: $font-size-base;
  margin-top: 35px;

  h1 {
    font-size: $main-title-size;
    text-transform: uppercase;
    color:$contrast-blue;
    text-weight: $text-weight-bold;

  }
  a{
    color:$contrast-blue;
  }
  nav.menu{
    position: fixed;
    left:0;
    margin-top:15px;
    ul{
      padding-left:8px;
      text-transform: uppercase;
      border-left: 15px solid $contrast-blue;
      margin-right: 30px;
      line-height: 1.4;

    }
  }
}

