*,html,body {
  box-sizing: border-box;
}

body,html{
  font-family: 'Montserrat',sans-serif;
  color: $text-color;
  font-size: $font-size-base;
  margin-top: 35px;

  h1 {
    font-size: $main-title-size;
    text-transform: uppercase;
    color:$contrast-blue;
    text-weight: $text-weight-bold;

  }
  a{
    color:$contrast-blue;
  }
  nav.menu{
    float:left;
    ul{
      padding-left:8px;
      text-transform: uppercase;
      border-left: 5px solid $contrast-blue;
    }
  }
}

