#globalNews {
  padding: 50px 0;
  .latest_news_title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: $contrast-blue;
    margin-bottom: 20px;
  }
}

.latest_actualite_contenu{

  font-weight: $text-weight-light;

}

.latest_actualite_contenu a{

  text-transform: uppercase;
  font-weight: $text-weight-bold;
  text-align: center;
  font-size: $font-size-medium;
}

/* Smartphones moyen (ex: iphone)*/
/* Petite tablette (ou moyenne tablette en mode portrait), grand smartphone */
@media screen and /*(min-width: 21em) and*/
(max-width: 30em), screen and /*(min-device-width: 21em) and*/
(max-device-width: 30em)
  /*and (min-width: 30em)*/
and (max-width: 41em), screen /*and (min-device-width: 30em)*/
and (max-device-width: 41em) {

  .latest_news_title {
    text-align: center;
    margin-bottom: 30px;
  }

  .latest_actualite_contenu p{

    display: none;

  }

  .latest_actualite_contenu a{

    text-transform: uppercase;
    font-weight: $text-weight-bold;
    text-align: center;
    font-size: $font-size-medium;
  }


  .actualite_auteur{

    display: none;
  }

  .actualite_nomAuteur{

    display: none;
  }

  .actualite_time{

    display: none;
  }

  .actualite_titre{

    font-size: 20px;
  }

  #globalNews article:nth-of-type(-n+2){

    display: none;

  }



}