.membre_infos{
  text-transform: uppercase;
}
.membre .mail {
  text-transform: lowercase;
}
// EFFETS PHOTOS

.membre figure {
  overflow: hidden;
}

.membre figure img {
  width: 100%;
  position: relative;
}

.membre figure {
  background: $contrast-blue;
}
.membre figure .membre_img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-bottom: -6px;
}
.membre figure:hover .membre_img {
  opacity: .5;
}

// EFFETS LIGNE
.membre figure .ligne {
  height:117px;
  width:6px;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 80px;
  border: solid 2px white;
  position: absolute;
}
.membre figure:hover .ligne {
 transform: translateY(-100%);
  transition-duration: 0.6s;
}

// EFFETS TEXTES

.membre figure {
  position: relative;
}
.membre_nomComplet {
  font-weight: $text-weight-bold;

}
.membre_infos {
  position: absolute;
  bottom:15px;
  left:35px;
  opacity:0;
  color: white;
  font-size: 18px;
  font-weight: $text-weight-light;
}
.membre figure:hover .membre_infos{
  opacity:1;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
}

// DISPOSITION

.membres > article:nth-child(4n+1), .membres > article:nth-child(4n+2){
  transform: translateY(+50%);
}
 .columns {
  flex-wrap: wrap;
}

 .membre{
   margin-right: 2px;
   margin-bottom: 2px;
 }

 .membres .column{
   padding: 0px;
 }