.sponsor{
margin-bottom: 50px;
}

.spons_logo {
  width: 165px;
  height:81px;
  margin: auto;
  padding:10px;
  position: relative;
}

.spons_logo img {
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  max-height: 81px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto !important;
}

/* Disable grayscale on hover */
.front:hover {
  filter: none;
}

//FLIP

.flip-container {
  perspective: 1000;
}

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  padding-bottom: 56.25%;
  height: 100%;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background: white;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: 0.3s filter;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
  padding-left: 15px;
}

.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.sponsor-item {
  background: $contrast-blue;
  padding: 15px;
  margin:1px;
  min-width: 300px;
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
}

.sponsor-name {
  font-size: 18px;
  color: $contrast-blue;
  margin-top: 15px;
}

.sponsor-category {
  text-transform: uppercase;
  color: $contrast-blue;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.spon-link {
  margin: 14px 0;
  background: $contrast-blue;
  color: white;
  border-radius: 0;
  padding: 10px 5px;
  width: 140px;
  text-align: center;
  display: inline-block;
}

.sponsor-participations li {
  display: inline-block;
  margin-right: 10px;
}

.sponsors .sponsor-list:first-child {
  background-color: #ffdd57;
}
/* Smartphones moyen (ex: iphone)*/ /* Petite tablette (ou moyenne tablette en mode portrait), grand smartphone */
@media screen and (min-width: 21em) and (max-width: 30em),  screen and (min-device-width: 21em) and (max-device-width: 30em)
and (min-width: 30em) and (max-width: 41em), screen and (min-device-width: 30em) and (max-device-width: 41em){

  .sponsor-category {
  text-align: center;
  }
  }