
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 12px;
$font-size-medium: 14px;
$font-size-big: 18px;
$line-height-base: 1.6;
$line-height-medium: 2.5;
$text-color: #2b2b2b;
$text-weight-bold:700;
$text-weight-semibold:600;
$text-weight-medium:500;
$text-weight-regular:400;
$text-weight-light:300;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Titres
$main-title-size:72px;
$main-title-size:72px;

//Colors
$contrast-blue:#1f3b7e;
