
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

// Variables
@import 'variables';

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//ZOOM
@import "zoom";

// BULMA (flex grid)
@import "node_modules/bulma/bulma.sass";

// HELPERS
@import "helper";

//Style général
@import "general";

//Composants
@import 'actualites';
@import "articlesDePresse";
@import "home";
@import "popup";
@import "membres";
@import "medias";
@import "contact";
@import "sponsors";
@import "owl.carousel.min";
