<div class="container">
    <div class="colums">
        <div class="is-offset-1 column is-10 is-offset-1">
            <article class="actualite_zoom">
                <header>
                    <img src="{{urlImage}}" alt="">
                    <h2 class="actualite_titre mgt1 mgb1"> {{titre}}</h2>
                    <span class="actualite_auteur">Écrit par: </span> <span class="actualite_nomAuteur">{{auteur}}</span>
                    <time class="actualite_time">{{toHuman datePublication}}</time>
                    <time class="actualite_time">07.01.2016</time>
                </header>

                <p>{{contenu}}</p>
                <a class="button btn_actualite_zoom" href="" alt="">Retour</a>
            </article>
        </div>
    </div>
</div>

