<article class="actualite_zoom column is-8 is-offset-2 actualite_zoom_{{id}}">
            <header>
                <img src="{{urlImage}}" alt="">
                <h2 class="actualite_titre mgt1 mgb1"> {{titre}}</h2>
                <span class="actualite_auteur">Écrit par: </span> <span class="actualite_nomAuteur">{{auteur}}</span>
                <time class="actualite_time">{{toHuman datePublication}}</time>
            </header>

            <p>{{contenu}}</p>
            <a class="button btn_actualite_zoom">Voir toutes les actualités</a>
</article>