<img src="images/logo.svg" class="page_background">
<a href="#">
    <div class="popup_cross"></div>
</a>
<div class="formulaireContact">
    <div class="formulaireContact1">
        <div class="container">
            <h1>Bonjour, <br> peut-on vous aider?</h1>

            <div class=" formulaire_choix">
                <div class="button is-large is-primary is-outlined btnFirstPage" data-id="soutenir">Je veux soutenir
                </div>

                <div class="button is-large is-primary is-outlined btnFirstPage" data-id="inscription">Je veux
                    m'inscrire
                </div>
                <div class="button is-large is-primary is-outlined btnFirstPage" data-id="question">J'ai une question
                </div>
            </div>

        </div>
    </div>
    <div class="formulaireContactSuite">
        <div class="container">
            <h1 id="pageDynamicTitle"></h1>
            <div class="forms">
                <div class="form1 ">
                    <div class="columns">
                        <div class="field column is-half">
                            <p class="control">
                                <input class="input is-medium" type="text" placeholder="*Nom">
                            </p>
                        </div>
                        <div class="field column is-half">
                            <p class="control">
                                <input class="input is-medium" type="text" placeholder="*Prénom">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column is-half">
                        <p class="control">
                            <input class="input is-medium" type="text" placeholder="Entreprise">
                        </p>
                    </div>
                    <div class="field column is-half">
                        <p class="control">
                            <input class="input is-medium" type="email" placeholder="*Email">
                        </p>
                    </div>
                </div>
                <div class="form2">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="text" placeholder="*Objet">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea is-medium" placeholder="*Message"></textarea>
                        </p>
                    </div>
                </div>

                <div class="field field_button columns">
                    <div class="column is-2 is-offset-1">
                        <a class="button is-medium is-primary is-outlined">Retour</a>
                    </div>
                    <div class="column is-2 is-offset-5">
                        <a class="button is-medium is-primary is-outlined">Envoyer!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
