    {{> menu }}

<h1 class="page_title"> Galerie</h1>

<div class="container">

    <div class="filtres">

        <div class="btn"> Photos </div>
        <div class="btn"> Vidéos </div>
    </div>


    <main class="galerie_grid">
        <div class="grid-sizer"></div>
        {{#each medias}}
        {{#isVideo}}
        <div class="grid-item">
            {{> video }}
        </div>
        {{else}}
        <div class="grid-item">
            {{> photo }}
        </div>
        {{/isVideo}}
        {{/each}}

    </main>

</div>