

    {{> menu }}

<h1 class="page_title">L'Équipe</h1>

<div class="container membre_container">
    <p class="membre_desc">" L'hydrocontest est une belle opportunité pour l'avenir du transport maritime et un incroyable tremplin pour nous, <span class="ingenieurs"> futurs ingénieurs </span>"</p>

    <div class="columns membres">
    {{#each membres}}
    <article class="column is-one-quarter ">
        {{> membre }}
    </article>
    {{/each}}
    {{#each membres}}
    <article class="column is-one-quarter ">
        {{> membre }}
    </article>
    {{/each}}
</div>
</div>