<div class="membre">
    <figure>
        <!--<img class="membre_img" src="{{photoProfil}}" >-->
        <img class="membre_img" src="images/test.jpg" >
        <!-- <div style=" width:320px; height: 396px; background-color: black" class="membre_img "> </div>-->
        <div class="ligne"></div>
        <ul class="membre_infos">
            <li class="membre_nomComplet">{{prenom}} {{nom}}</li>
            <li> {{role}}</li>
            <li> {{section}}</li>
            <li class="mail"> {{adresseMail}} </li>
        </ul>
    </figure>

</div>
