<div class="edition_grandMenu edition_grandMenu_deroule">

<nav class="edition_menu isBlock" >

    <ul>
        <li><a href="#/editions/{{year}}/sponsors">Sponsors</a></li>
        <li><a href="#/editions/{{year}}/actualites">Actualités</a></li>
        <li><a href="#/editions/{{year}}/membres">Équipe</a></li>
        <li><a href="#/editions/{{year}}/presses">Presse</a></li>
        <li><a href="#/editions/{{year}}/medias">Galerie</a></li>
    </ul>
</nav>
<a href="#timeline-{{year}}"><div class="popup_cross"></div></a>
</div>