<div class="edition_grandMenu edition_grandMenu_deroule">

<nav class="edition_menu isBlock" >

    <ul>
        <li><a data-page="sponsors" href="#/editions/{{year}}/sponsors">Sponsors</a></li>
        <li><a data-page="actus" href="#/editions/{{year}}/actus">Actualités</a></li>
        <li><a data-page="membres" href="#/editions/{{year}}/equipe">Équipe</a></li>
        <li><a data-page="presses" href="#/editions/{{year}}/presses">Presse</a></li>
        <li><a data-page="medias" href="#/editions/{{year}}/medias">Galerie</a></li>
    </ul>
</nav>
<a href="#timeline-{{year}}"><div class="popup_cross"></div></a>
</div>
