{{#isValid}}
<li class="sponsor-item column is-one-quarter-desktop is-full-tablet">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{sponsor.nom}}</div>
                <div class="sponsor-website">
                    <a href="{{sponsor.urlSponsor}}" target="_blank">
                        {{sponsor.urlSponsor}}
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
{{/isValid}}