{{> menu }}
<div class="container">
    <h1 class="page_title"> Sponsors</h1>
    <div class="owl-carousel owl-theme owl-loaded">
                {{#each sponsors}}
                <div>{{>sponsor}}</div>
                {{/each}}
        {{#each sponsors}}
        <div>{{>sponsor}}</div>
        {{/each}}
    </div>
    <div class="owl-controls">
        <div class="owl-nav">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
        </div>
    </div>
</div>