<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="sponsor-item">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" >
                asdasdasdads
            </div>
            <div class="back">
                <div class="sponsor-name">{{nom}}</div>
                <div class="sponsor-website">
                    <a href="urlSponsor" target="_blank">
                        <button class="sponsor-link">Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>



