<div class="timeline-container timeline-theme-1">
    <div class="timeline js-timeline">
        {{#each timeline}}
        {{> timeline-container}}
        {{/each}}
    </div>
    <div class="timeline-dots-wrap">
        <ul class="timeline-dots">
            {{#each timeline}}
            <li>
                <button class="year" type="button" role="button">{{annee}}</button>
                <a class="tl_link" href="#/editions/{{annee}}/sponsors"><button class="button-sponsors">SPONSORS</button></a>
                <p>Organisé à <b>{{lieu}}</b>, le <b>{{toHuman dateDebut}}</b></p>
                <dl class="prixs">
                    {{#each prixs}}
                    <dt>{{nom}}</dt>
                    {{/each}}
                </dl>
            </li>
            {{/each}}
        </ul>
    </div>
</div>