<div data-time="{{annee}}" id="timeline-{{annee}}">
    <div>
        <div style="background-image: url({{urlImageMedia}})" class="timeline-background"></div>
        <div class="timeline-filter"></div>
        <div class="timeline-content container">
            <div class="columns">
                <div class="column is-4 actualites-button">
                    <button class="edition-button "><a class="tl_link" href="#/editions/{{annee}}/actualites">Actualités</a></button>
                </div>
                <div class="column is-offset-4 is-4 galerie-button">
                    <button class="edition-button "><a class="tl_link" href="#/editions/{{annee}}/medias">Medias</a></button>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4 equipe-button">
                    <button class="edition-button"><a class="tl_link" href="#/editions/{{annee}}/membres">Equipe</a></button>
                </div>
                <div class="column is-offset-4 is-4 presse-button">
                    <button class="edition-button"><a class="tl_link" href="#/editions/{{annee}}/presses">Presse</a></button>
                </div>
            </div>
        </div>
    </div>
</div>