<div data-time="{{annee}}">
    <div class="soutiens"></div>
    <div style=" background-image: url({{urlImageMedia}})" alt="" class="timeline-background">
        <div class="timeline-filter"></div>
        <div class="timeline-content container">
            <div class="columns">
                <div class="column is-half-desktop actualites-button">
                    <button class="edition-button ">Actualités</button>
                </div>
                <div class="column is-half-desktop galerie-button">
                    <button class="edition-button ">Medias</button>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half-desktop equipe-button">
                    <button class="edition-button ">Equipe</button>
                </div>
                <div class="column is-half-desktop presse-button">
                    <button class="edition-button">Presse</button>
                </div>
            </div>
        </div>
    </div>
</div>