<div data-time="{{annee}}" id="timeline-{{annee}}">
    <div>
        <div style="background-image: url({{urlImageMedia}})" class="timeline-background"></div>
        <div class="timeline-filter"></div>
        <div class="timeline-content container">
            <div class="columns">
                <div class="column is-4 actualites-button">
                    <a class="tl_link" href="#/editions/{{annee}}/actus"><button class="edition-button ">Actualités</button></a>
                </div>
                <div class="column is-offset-4 is-4 galerie-button">
                    <a class="tl_link" href="#/editions/{{annee}}/medias"><button class="edition-button ">Galerie</button></a>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4 equipe-button">
                    <a class="tl_link" href="#/editions/{{annee}}/equipe"><button class="edition-button">Equipe</button></a>
                </div>
                <div class="column is-offset-4 is-4 presse-button">
                    <a class="tl_link" href="#/editions/{{annee}}/presses"><button class="edition-button">Presse</button></a>
                </div>
            </div>
        </div>
    </div>
</div>